.carousel {
    background-image: none;

    p {
        color: $color-1;
        font-size: 1.1rem;
        margin-bottom: 0.5em;
    }

    h1 {
        font-size: 65px;
        font-weight: 700;
    }
}